body{
    background-color: #F4EDFF !important;
}
.container{
    min-height: 100vh;
    background-color: #F4EDFF !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radius{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}